<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Practica 2!</title>
</head>

<body>
  <div id="root">
    <h1 fw-content="header"></h1>
    <div fw-if="isPageLogIn">
      <form fw-on:submit="submitLogIn">
        <input type="text" name="username" fw-attr:value="username" fw-on:change="changeUsername"
          placeholder="Username or email" />
        <input type="password" name="password" fw-attr:value="password" fw-attr:style="passwordInputStyle"
          fw-on:change="changePassword" placeholder="Password" />

        <input type="submit" value="log in" />

        <p fw-if="isFormInvalid">
          Validation error: <span fw-content="validationMessage"></span>
        </p>
      </form>
    </div>

    <!--nuevas funciones-->
    <div fw-else>
      <h2>Primera Lista </h2>
      <ol>
        <li class="item" fw-for="data in person">
          <h3>Este es un ejemplo de como debe de quedar {{ data }}</h3>
          <h4>{{ data }}</h4>
        </li>
      </ol>


      <h2>Segunda lista </h2>
      <ul>
        <li class="item" fw-for="key in listTodo">
          <h4>{{ key }}</h4>
        </li>
      </ul>

    </div>
    <div fw-if="isPageMain">
      <p>
        Hello, <span fw-content="username"></span>: this is the main page of a
        demo app.
      </p>
    </div>
  </div>

  <script>
    //5 puntos
    fwIf = (root, state) => {
      root.querySelectorAll('[fw-if]').forEach(element => {
        //console.log(element.getAttribute('fw-if')+" : "+state[element.getAttribute('fw-if')])
        element.style.display = (state[element.getAttribute('fw-if')]) ? '' : 'none';
      });
    }
    fwContent = (root, state) => {
      root.querySelectorAll('[fw-content]').forEach(element => {
        //console.log(element.getAttribute('fw-content')+" : "+state[element.getAttribute('fw-content')])
        element.innerText = state[element.getAttribute('fw-content')];
      });
    }
    //6 puntos
    //Get all the elements with and fw especial atribute
    getfwEspecialAtributeElements = (root, atribute) => {

      let regexString = '^' + atribute
      var el, attr, i, j, arr = [],
        reg = new RegExp(regexString, 'i'),                //case insensitive fw-attr pattern
        els = root.getElementsByTagName('*');             //get all tags in root element

      for (i = 0; i < els.length; i++) {                 //loop through all tags
        el = els[i]                                    //our current element
        attr = el.attributes;                          //its attributes
        dance: for (j = 0; j < attr.length; j++) {     //loop through all attributes
          if (reg.test(attr[j].name)) {              //if an attribute starts with mce_
            arr.push(el);                          //push to collection
            break dance;                           //break this loop
          }
        }
      }
      return arr;
    }

    fwAttr = (root, state) => {

      getfwEspecialAtributeElements(root, 'fw-attr').forEach(element => {
        //console.log(getfwattributeElements(root, 'fw-attr'))
        Array.from(element.attributes).forEach(att => {
          //console.log(att)
          if (att.name.toString().match("fw-attr:")) {
            htmlAtt = att.name.replace("fw-attr:", "");
            element.setAttribute(htmlAtt, state[att.value]);
            //console.log("att: "+htmlAtt+ " value: "+ state[att.value])
          }
        })

      });
    }

    //8 puntos
    fwOn = (root, state, handlers) => {

      getfwEspecialAtributeElements(root, 'fw-on').forEach(element => {
        //console.log(getfwattributeElements(root, 'fw-attr'))
        Array.from(element.attributes).forEach(att => {

          if (att.name.toString().match("fw-on:")) {
            //change, submit, click...etc
            eventType = att.name.replace("fw-on:", "");
            element.addEventListener(eventType, (event) => {
              handler = handlers[att.value];
              state = handler(state, event);
              update(root, state, handlers);
            }, false);
            //console.log("att: "+eventType+ " value: "+ att.value)
          }
        })

      });
    }

    //Start New Features
    addElement = (parent, elementToClone, val) => {

      let tmpItem = elementToClone.cloneNode(false);
      tmpItem.innerHTML = val;
      parent.appendChild(tmpItem)

    }



    fwfor = (root, state) => {

      root.querySelectorAll('[fw-for]').forEach(element => {



        const parentElement = element.parentNode;

        //Clone element without child nodes
        let itemToReplicate = element.cloneNode(false);

        itemToReplicate.removeAttribute("fw-for");

        const valueDirectiveFor = element.getAttribute('fw-for');

        //get inner HTML
        const contentDirectiveFor = element.innerHTML;
        //After getting HTML, we clean it
        parentElement.innerText = "";

        if (!valueDirectiveFor.includes(" in ")) throw 'fw-for need to use reserved word "in"';


        const [item, data] = valueDirectiveFor.split(" in ");




        /*
        Global pattern flags
          g modifier: global. All matches (don't return after first match)
      m modifier: multi line. Causes ^ and $ to match the begin/end of each line (not only begin/end of string)
      
          {{ any character key any character }}
        */


        const matcher = new RegExp(`{{(.*?)${item}(.*?)}}`, 'gm');


        if (state[data] instanceof Array) {

          state[data].forEach(val => {

            const newContent = contentDirectiveFor.replace(matcher, val)

            addElement(parentElement, itemToReplicate, newContent);
          });
        } else {

          if (typeof state[data] == "object") {

            for (const prop in state[data]) {

              const newContent = contentDirectiveFor.replace(matcher, state[data][prop])

              addElement(parentElement, itemToReplicate, newContent);

            };
          }

        }

      });
    }
    verifyIf = (root, state) => {
      if (typeof state[root.getAttribute('fw-if')] == 'undefined')
        return undefined
      return state[root.getAttribute('fw-if')]
    }

    fwElse = (root, state) => {
      const arrNode = root.children
      if (Array.from(arrNode).length > 0) {
        Array.from(arrNode).forEach((el, index) => {
          Array.from(el.attributes).forEach(att => {
            if (att.name.toString().match("fw-else")) {
              const verify = (verifyIf(arrNode[index - 1], state))
              if (typeof verify == 'undefined') {
                console.error('fw-if is require')
                document.getElementById('root').style.display = 'none'
              }

              el.style.display = verify ? 'none' : '';
            }
          })
          if (el.hasChildNodes())
            fwElse(el)
        })
      }
    }

    update = (root, state, handlers) => {
      fwIf(root, state);
      fwContent(root, state);
      fwAttr(root, state);
      fwOn(root, state, handlers)
      //new
      fwElse(root, state);
      //new
      fwfor(root, state);
    };
    window.createApp = ({ rootElementId, initialState, handlers }) => {
      let root = document.getElementById(rootElementId);
      update(root, initialState, handlers);
    }
  </script>

  <script>
    window.createApp({
      rootElementId: "root",
      initialState: {
        show: true,
        header: "Log into the Demo App",
        isPageLogIn: true,
        isPageMain: false,
        username: "",
        password: "",
        passwordInputStyle: "background-color: lightyellow;",
        isFormInvalid: false,
        validationMessage: "",
        person: {
          primerNombre: 'John',
          apellido: 'Doe',
          edad: 30
        },
        listTodo: [
          "Primero",
          "segudno",
          "Tercero"
        ]
      },
      handlers: {
        changeUsername: (currentState, event) => {
          const username = event.target.value;
          return {
            ...currentState,
            isFormInvalid: false,
            username,
          };
        },
        changePassword: (currentState, event) => {
          const password = event.target.value;
          return {
            ...currentState,
            isFormInvalid: false,
            passwordInputStyle:
              password.length >= 8
                ? "background-color: lightgreen;"
                : "background-color: lightyellow;",
            password,
          };
        },
        submitLogIn: (currentState, event) => {
          event.preventDefault();

          if (currentState.username === "") {
            return {
              ...currentState,
              isFormInvalid: true,
              validationMessage: "You must provide a username",
            };
          }

          if (currentState.password.length < 8) {
            return {
              ...currentState,
              isFormInvalid: true,
              validationMessage:
                "The password must contain at least 8 characters",
            };
          }

          return {
            ...currentState,
            isFormInvalid: false,
            isPageLogIn: false,
            isPageMain: true,
            header: "Demo app",
          };
        },
      },
    });
  </script>
</body>

</html>